.contact {
  height: $div-height;
  margin-top: 70px;
  color: #333;
  .submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s all ease;
    .progress {
      margin: 0;
    }
    &-sending {
      p {
        margin: 0;
      }
    }
  }
}
