.card {
  display: flex;
  flex-direction: column;
  &-code {
    flex: 7.5;
    position: relative;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    &-logo{
      position: absolute;
      bottom: -35px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-img {
        width: 60px;
      }
      h3 {
        margin: 0;
        margin-top: -8px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  &-text {
    flex: 2.5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    p {
      margin: 0;
      margin-top: 5px;
    }
  }
}
