/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.no-margin {
  margin: 0;
}

.light-font {
  font-weight: 300;
}

#ruby {
  color: #ec1622;
}
#rails {
  color: #ec1622;
}
#html {
  color: #e44d26;
}
#css {
  color: #1b73ba;
}
#js {
  color: #efc725;
}
#jq {
  color: #1069ae;
}
