body {
  background: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-shadow: none;
  a {
    font-family: $base-font;
  }
}

.about {
  height: $div-height;
  margin-top: 70px;
  color: #333;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-text {
      text-align: justify;
      font-family: $base-font;
    }
  }
}

.skills {
  min-height: $div-height;
  width: 100%;
  margin-top: 70px;
  padding: 30px;
}

@media #{$small-and-down} {
  #gh-fork {
    img {
      width: 50px;
    }
  }
}
