---
title: Volchan - Freelance web developer
---

<div class="site">
  <div class="site-banner">
    <%= inline_svg('volchan', class: 'logo') %>
    <h1 class="no-margin light-font">STEPHANE DE LA TORRE</h1>
    <h2 class="no-margin light-font">FREELANCE WEB DEVELOPER</h2>
  </div>
</div>
